@font-face {
  font-family: 'Courgette';
  src: local('Courgette'),
    url(../fonts/Courgette-Regular.ttf) format('truetype');
}
/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

img {
  width: 100%;
}

.first_landscape_background {
  background-image: url(../assets/first_landscape/desktop/background.png);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plane {
  position: absolute;
  width: 200px;
  top: 380px;
  left: 850px;
}

.first_landscape_cloud_top_left {
  position: absolute;
  width: 20%;
  top: 35px;
  left: 85px;
}

.first_landscape_cloud_top_right {
  position: absolute;
  width: 20%;
  top: 115px;
  right: 450px;
}

.first_landscape_cloud_bottom_left {
  position: absolute;
  width: 20%;
  top: 400px;
  left: 160px;
}

.first_landscape_cloud_bottom_right {
  position: absolute;
  width: 20%;
  top: 280px;
  right: 25px;
}

.first_landscape_mountain_central {
  position: absolute;
  display: block;
  width: 62%;
  bottom: 100px;
  left: 50%;
  margin-left: -31%;
}

.first_landscape_mountain_left_and_right {
  position: absolute;
  width: 80%;
  bottom: 55px;
  right: 125px;
  z-index: 5;
}

.first_landscape_tree_back {
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  z-index: 6;
}

.first_landscape_tree_side {
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  z-index: 7;
}

.first_landscape_grass {
  position: absolute;
  width: 100%;
  bottom: -70px;
  left: 0;
  z-index: 8;
}

.first_landscape_tree_first {
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  z-index: 9;
}

.title {
  z-index: 4;
  position: relative;
  top: -50px;
  color: #fff;
  text-shadow: 0 0 5px black;
  margin-bottom: -5px;
  font-family: 'Courgette', cursive;
  font-size: 6em;
}

.wrapper {
  display: flex;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -1.3%;
}

.stick {
  height: 100px;
  width: 2px;
  background: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.flag {
  display: flex;
  width: 60px;
  height: 40px;
  box-shadow: 0px 0px 20px 1px #989;
  background-color: transparent;
  position: relative;
}

.left {
  width: 20px;
  background-color: #3347ff;
}

.middle {
  width: 20px;
  background-color: white;
}

.right {
  width: 20px;
  background-color: rgb(224, 5, 5);
}

.next_content {
  position: relative;
  background: rgb(67, 25, 67);
  background: linear-gradient(
    180deg,
    rgba(67, 25, 67, 1) 0%,
    rgba(67, 25, 67, 1) 90%,
    rgba(247, 153, 76, 1) 100%
  );
  color: rgb(223, 219, 219);
  font-size: 2em;
  padding: 20px;
}

.next_content p:first-of-type {
  margin-top: 0;
}

p {
  padding-inline: 250px;
}

/* Breakpoints */
/* First breakpoint */

@media screen and (max-width: 1101px) {
  p {
    padding-inline: 100px;
  }
}

@media screen and (max-width: 992px) {
  .plane {
    position: absolute;
    width: 150px;
    top: 590px;
    left: 300px;
  }

  .first_landscape_cloud_top_left {
    width: 25%;
    top: 35px;
    left: 35px;
  }

  .first_landscape_cloud_top_right {
    width: 25%;
    top: 85px;
    right: 35px;
  }

  .first_landscape_cloud_bottom_left {
    width: 25%;
    top: 200px;
    left: 85px;
  }

  .first_landscape_cloud_bottom_right {
    position: absolute;
    width: 20%;
    top: 280px;
    right: 25px;
  }

  .title {
    top: -50px;
    font-size: 5em;
  }

  .wrapper {
    display: flex;
    position: absolute;
    left: 50%;
    top: 340px;
    margin-left: -1.3%;
  }

  .first_landscape_mountain_central {
    width: 100%;
    bottom: 300px;
    left: 0;
    margin-left: 0;
  }

  .first_landscape_mountain_left_and_right {
    width: 100%;
    bottom: 110px;
    right: 0;
  }

  .first_landscape_tree_first {
    bottom: 0;
  }

  .first_landscape_grass {
    bottom: 0;
  }

  .first_landscape_tree_side {
    bottom: 30px;
  }

  .first_landscape_tree_back {
    bottom: 80px;
  }
}

@media screen and (max-width: 650px) {
  p {
    padding-inline: 50px;
  }
  .next_content {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 430px) {
  .plane {
    position: absolute;
    width: 100px;
    top: 400px;
    left: 150px;
  }

  .title {
    top: -10px;
    font-size: 3em;
  }

  .wrapper {
    display: flex;
    position: absolute;
    left: 50%;
    top: 300px;
    margin-left: -1.3%;
  }

  .first_landscape_mountain_central {
    width: 100%;
    bottom: 190px;
    left: 0;
    margin-left: 0;
  }

  .first_landscape_mountain_left_and_right {
    width: 100%;
    bottom: 110px;
    right: 0;
  }

  .first_landscape_tree_first {
    bottom: 0;
  }

  .first_landscape_grass {
    bottom: 0;
  }

  .first_landscape_tree_side {
    bottom: 60px;
  }

  .first_landscape_tree_back {
    bottom: 80px;
  }

  p {
    padding-inline: 50px;
  }

  .next_content {
    font-size: 1em;
  }
}
