@font-face {
  font-family: 'Courgette';
  src: local('Courgette'),
    url(../fonts/Courgette-Regular.ttf) format('truetype');
}

.sydney {
  position: relative;
  scroll-snap-type: y proximity;
  scroll-snap-align: end;
  background-image: url(../assets/sydney/desktop/background.png);
  background-size: cover;
  height: 110vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-1px);
}

.plane_sydney {
  position: absolute;
  width: 200px;
  top: -440px;
  right: -460px;
}

.sun {
  position: absolute;
  width: 300px;
  top: 1250px;
}

.dune {
  position: absolute;
  top: 1100px;
}

.city_back {
  position: absolute;
  top: 720px;
}

.city_first {
  position: absolute;
  top: 1120px;
}

.ground {
  position: absolute;
  width: 100%;
  height: 130px;
  background-color: #1c0911;
  bottom: 0;
}

.opera {
  position: absolute;
  width: 700px;
  left: 480px;
  top: 1775px;
}

.bridge {
  position: absolute;
  width: 500px;
  right: 380px;
  top: 3955px;
}

.kangourou {
  position: absolute;
  width: 300px;
  bottom: 150px;
  left: -1150px;
}

.palm {
  position: absolute;
  width: 250px;
  bottom: 150px;
  right: -1150px;
}

.ait_logo {
  position: absolute;
  width: 150px;
  top: -1380px;
  left: -1360px;
}

.sydney_area_title,
.sydney_area_title2 {
  position: absolute;
  left: 120px;
  color: #fff;
  text-shadow: 0 0 5px black;
  font-size: 4em;
  font-family: 'Courgette', cursive;
}

/* Breakpoints */
/* First breakpoint */

@media screen and (max-width: 1101px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 430px) {
  .plane_sydney {
    width: 100px;
    top: -105px;
    right: -1050px;
  }

  .sun {
    width: 105px;
    top: 1450px;
  }

  .dune {
    top: 1340px;
  }

  .city_back {
    top: 825px;
  }

  .city_first {
    top: 1113px;
  }

  .ground {
    width: 100%;
    height: 130px;
    background-color: #1c0911;
    bottom: 0;
  }

  .opera {
    width: 245px;
    left: 45px;
    top: 1795px;
  }

  .bridge {
    width: 135px;
    right: 20px;
    top: 3685px;
  }

  .kangourou {
    width: 55px;
    bottom: 135px;
    left: -1200px;
  }

  .palm {
    width: 55px;
    bottom: 135px;
    right: -1220px;
  }

  .ait_logo {
    width: 95px;
    top: -1160px;
    left: -1400px;
  }

  .sydney_area_title {
    left: 120px;
    font-size: 2em;
    top: -1225px;
  }

  .sydney_area_title2 {
    left: 120px;
    font-size: 2em;
    top: -1145px;
  }
}
